<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2011 Kevin Gibbs and The Simple MFI Project
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
    http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.simplemfi.app"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        
        <activity android:name=".GroupTabActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.PICK_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.mantastore.simple-mfi.Client" />
            </intent-filter>
        </activity>
        <activity android:name=".CollectionSheetActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".GroupReceiptsActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".ClientListActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".OfficerListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.mantastore.simple-mfi.Officer" />
            </intent-filter>
        </activity>
        <activity android:name=".GroupListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.mantastore.simple-mfi.Group" />
            </intent-filter>
        </activity>
        <activity android:name=".ClientActivity"
                  android:label="@string/app_name">                   
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.mantastore.simple-mfi.Client" />
            </intent-filter>
        </activity>
        <activity android:name=".LoanActivity"
                  android:label="@string/app_name">                   
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.mantastore.simple-mfi.Loan" />
            </intent-filter>
        </activity>
        
    </application>
</manifest>
